:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --hero-color: #ffffff;
  --logo-color: #000000;
}

body {
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
}

/* RESET START */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*RESET END */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */
header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  margin-right: auto;
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  gap: 50px;
  align-items: center;
}

.site-nav .header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}

/*PSEUDO ELEMENT.CURRENT */
.header-link::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 0;
}

current::after {
  opacity: 1;
}

.contacts {
  display: flex;
  gap: 50px;
  align-items: center;
}
.contact-icon {
  fill: rgba(117, 117, 117, 1);
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 93px;
}
.web-logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.contact {
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  gap: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact:hover,
.contact:focus {
  color: var(--accent-color);
}
.contact:hover .contact-icon,
.contact:focus .contact-icon {
  fill: var(--accent-color);
}

/* HERO */

.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
}
.hero-title {
  color: var(--hero-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 696px;
  margin-right: auto;
  margin-left: auto;
}

/*SECTIONS */
.feature-images {
  display: flex;
  width: 270px;
  height: 120px;
  gap: 30px;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.feature-section {
  padding-bottom: 0;
}
.feature-list {
  display: flex;
  gap: 30px;
}
.feature-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section .text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.second-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.work-list {
  display: flex;
  gap: 30px;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*WORK LIST OVERLAY */
.work-item {
  position: relative;
}
.work-overlay {
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  left: 0;
}
.div-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 27px;
}
.team-list {
  display: flex;
  gap: 30px;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.team-list .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-list .direction {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.team-section {
  background: #f5f4fa;
}
.team1,
.team2,
.team3,
.team4 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-icon {
  fill: rgba(175, 177, 184, 1);
}
.team-item {
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.social-icons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: rgba(33, 150, 243, 1);
}
.social-link:hover .team-icon,
.social-link:focus .team-icon {
  fill: rgba(255, 255, 255, 1);
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.project {
  padding: 20px 24px;
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.projects-item {
  background: #ffffff;
  border: 1px solid #eeeeee;
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-item:nth-child(3n) {
  margin-right: 0;
}
.projects-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.project-img {
  margin-bottom: 20px;
}
.projects-list .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.projects-list .desc {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
.project-link {
  display: block;
}

.projects-item:hover,
.projects-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/*BUTTON*/

.hero-button {
  min-width: 216px;
  min-height: 50px;
  color: var(--hero-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

.button {
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 6px 22px;
  margin-left: auto;
  margin-right: auto;
  transition: color cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  color: var(--hero-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.partners-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.partners-icon {
  fill: rgba(175, 177, 184, 1);
}

.partners-link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.partners-link:hover,
.partners-link:focus {
  border: 1px solid #2196f3;
}

.partners-link:hover .partners-icon,
.partners-link:focus .partners-icon {
  fill: rgba(33, 150, 243, 1);
}
/*FOOTER */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer-logo {
  margin-bottom: 20px;
  color: var(--hero-color);
}
.mail {
  margin-bottom: 9px;
}
.addres-item {
  margin-bottom: 9px;
}
.addres-item:last-child {
  margin-bottom: 0;
}
.address .contact-info {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.address .map {
  color: var(--hero-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer-content {
  display: flex;
}
.footer-title {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-color);
  padding-top: 12px;
}
.social {
  max-height: 80px;
}
.footer-icon {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.adress-content {
  margin-right: 70px;
}
/* SVG */
.soc-icon {
  fill: var(--hero-color);
}
.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--accent-color);
}
