:root {
    --primary-text-color: #212121;
    --title-text-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3; 
    --hero-color: #FFFFFF;
    --logo-color: #000000;
}

body {
    background-color: var(--hero-color);
    color: var(--primary-text-color);
}

/* HEADER */
.logo {
    color: var(--logo-color);
}
.web-logo {
    color: var(--accent-color);
}
.list {
    list-style: none;
}

.site-nav a {
    color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav .link.current {
    color: var(--accent-color);
}
.contacts a{
    color: var(--text-color);
}
.contacts a:hover,
.contacts a:focus {
    color: var(--accent-color);
}

/* HERO */

.hero-title {
    color: var(--hero-color);
}


/*SECTION */

section p {
    color: var(--text-color);
}

/*BUTTON*/
.button {
    color: var(--accent-color);
    background-color: #2196F3;
    
    
    
}
.button.primary {
    color: var(--hero-color);
    background-color: #2196F3;
    
    
}

/*FOOTER */






/* цвет основного текста #212121 */

/* вторичный цвет #757575;
/*белый #FFFFFF */
/*rgba(255, 255, 255, 0.6);*/

/* акцент #2196F3 */


