.logo {
    display: flex;
    align-items: center;
    color: var(--logo-color);
    font-family: $logoFont;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-right: 93px;
}

.logo__web-logo {
    color: var(--accent-color);
    font-family: $logoFont;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo--footer {
    margin-bottom: 20px;
    color: var(--hero-color);
}